@model AMS.Core.Models.Applicant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IIN" class="control-label"></label>
                <input asp-for="IIN" class="form-control" />
                <span asp-validation-for="IIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Residence" class="control-label"></label>
                <input asp-for="Residence" class="form-control" />
                <span asp-validation-for="Residence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryDocument" class="control-label"></label>
                <input asp-for="MilitaryDocument" class="form-control" />
                <span asp-validation-for="MilitaryDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diplomas" class="control-label"></label>
                <input asp-for="Diplomas" class="form-control" />
                <span asp-validation-for="Diplomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
